version: 2
updates:

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: npm
    directories:
      - /
      - generate-ip/
      - generate-pw/
      - geolocate/
      - minify.js/gulp/
      - minify.js/node.js/
      - scss-to-css/
    schedule:
      interval: daily
    groups:
      prod-dependencies:
        dependency-type: production
      dev-dependencies:
        dependency-type: development
    versioning-strategy: increase

  - package-ecosystem: pip
    directories:
      - generate-ip/
      - generate-pw/
      - geolocate/
      - minify.js/gulp/
      - minify.js/node.js/
      - scss-to-css/
    schedule:
      interval: daily
    versioning-strategy: increase
