name: Publish generate-pw to npm on new tag

on:
  push:
    tags: [generate-pw*]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: cd generate-pw && npm ci
      - run: cd generate-pw && npm run build
      - run: cd generate-pw && npm publish --provenance
