name: Publish generate-ip to npm on new tag

on:
  push:
    tags: [generate-ip*]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: npm install -g npm
      - run: cd generate-ip && npm ci
      - run: cd generate-ip && npm publish --access public --provenance
