name: Sync changes to **/bump.sh

on:
  push:
    branches: [main]
    paths: ["**/bump.sh"]

permissions:
  contents: read

jobs:
  build:
    if: (github.repository == 'adamlui/js-utils') && (github.event.commits[0].committer.username != 'kudo-sync-bot')
    runs-on: ubuntu-latest
    env:
      TZ: PST8PDT

    steps:

      - name: Checkout adamlui/js-utils
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          path: adamlui/js-utils
          fetch-depth: 2

      - name: Checkout adamlui/minify.js
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: adamlui/minify.js
          path: adamlui/minify.js

      - name: Checkout adamlui/scss-to-css
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: adamlui/scss-to-css
          path: adamlui/scss-to-css

      - name: Sync changes to **/bump.sh
        run: |
          cd ${{ github.workspace }}/adamlui/js-utils

          # Find the newest bump.sh
          files=$(find . -name "bump.sh" -type f)
          newest_file="" ; newest_timestamp=0
          for file in $files ; do
            timestamp=$(git log -1 --format="%ct" -- "$file")
            if (( $timestamp > $newest_timestamp )) ; then
              newest_file=$file ; newest_timestamp=$timestamp
          fi ; done

          # Copy/paste over all other bump.sh files
          if [[ -n $newest_file ]] ; then
            for file in $files ; do
              if [[ $file != $newest_file ]] ; then
                cp -f "$newest_file" "$file"
          fi ; done ; fi

          # Expose sync src for commit msg in next step
          sync_src=$(echo "$newest_file" | cut -d'/' -f2-3)
          echo "SYNC_SRC=$sync_src" >> $GITHUB_ENV

      - name: Sync minify.js/ to adamlui/minify.js/
        run: |
          rsync -avhr --delete --filter='P /.*' \
            ${{ github.workspace }}/adamlui/js-utils/minify.js/ \
            ${{ github.workspace }}/adamlui/minify.js/

      - name: Sync scss-to-css/ to adamlui/scss-to-css/
        run: |
          rsync -avhr --delete --filter='P /.*' \
            ${{ github.workspace }}/adamlui/js-utils/scss-to-css/ \
            ${{ github.workspace }}/adamlui/scss-to-css/

      - name: Escape backticks in commit msg
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          echo "ESCAPED_MSG<<EOF" >> $GITHUB_ENV
          echo "$COMMIT_MSG" | sed 's/`/\`/g' >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Config committer
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PRIVATE_ID: ${{ secrets.GPG_PRIVATE_ID }}
        run: |
          gpg --batch --import <(echo "$GPG_PRIVATE_KEY")
          git config --global commit.gpgsign true
          git config --global user.name "kudo-sync-bot"
          git config --global user.email "auto-sync@kudoai.com"
          git config --global user.signingkey "$GPG_PRIVATE_ID"

      - name: Push changes to adamlui/js-utils
        if: env.SYNC_SRC
        run: |
          cd ${{ github.workspace }}/adamlui/js-utils
          git pull # again to sync w/ concurrent workflow updates
          git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from $SYNC_SRC]" || true
          git push

      - name: Push changes to adamlui/minify.js
        run: |
          cd ${{ github.workspace }}/adamlui/minify.js
          git pull && git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from https://github.com/adamlui/js-utils/tree/main/minify.js]" || true
          git push

      - name: Push changes to adamlui/scss-to-css
        run: |
          cd ${{ github.workspace }}/adamlui/scss-to-css
          git pull && git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from https://github.com/adamlui/js-utils/tree/main/scss-to-css]" || true
          git push
